# Variáveis para o docker-compose e configuração do PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=cashflow
DB_HOST=localhost
DB_PORT=5432

# Configurações do Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:29092
KAFKA_TOPIC=transactions
KAFKA_GROUP_ID=transaction-consumer-group
KAFKA_AUTO_OFFSET_RESET=earliest 