# Conexão com o banco de dados
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=cashflow;Username=postgres;Password=postgres

# Configurações do Kafka
Kafka__BootstrapServers=localhost:29092
Kafka__Topic=transactions
Kafka__GroupId=cashflow-group
Kafka__AutoOffsetReset=Earliest 